#spm-status-messages{
  padding: 2px;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 4px;
	border-radius: 4px;
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-box-shadow: 0px 0px 5px #999999;
  box-shadow: 0px 0px 5px #888;
}

#spm-status-messages .title{
  font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 8px;
  -moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #111111;
}

#spm-status-messages .content{
  overflow: auto;
  padding: 1px;
  margin: 0px;
  font: 11px/1.35em "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  border: 1px solid #CCCCCC;
  border-bottom: 0px;
  margin: 1px;
}

#spm-status-messages .content .messages{
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid #CCCCCC;
}

#spm-status-messages .close{
  font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 11px;
  text-align: center;
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 2px;
  background-color: #cccecd;
  -moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #CCCCCC;
}

#spm-status-messages .close:hover{
  border: 1px solid #999999;
}
